---
import {db, courseData} from 'astro:db'
import{idExistsInDB} from '../exportVariables/variableHolder.js'

import ProgressBar  from "../components/ProgressBar.jsx"

const CookieClassesBoolean=Astro.cookies.has("Classes")
const cookies= Astro.cookies.get("Classes")?.json()

if (CookieClassesBoolean || idExistsInDB==="SavedCookies" ){
  var idExistsInDB=null
  for(let x in cookies){
    var EachCookie=JSON.parse(cookies[x].slice(13))
    var cookieClassId= EachCookie.classDetails.id
    var cookieClassName=EachCookie.classDetails.className
    var selectDataBase=await db.select().from(courseData)
    var courseDataArray=JSON.stringify(selectDataBase)
    var check = (courseDataArray.includes(cookieClassId)===false && courseDataArray.includes(cookieClassName)===false)?await db.insert(courseData).values({id: cookieClassId, name: cookieClassName}):(courseDataArray.includes(cookieClassId) && courseDataArray.includes(cookieClassName))?idExistsInDB="true":console.log(courseDataArray);
    var parsedX=parseInt(x,10)
    
    
    x=null
    for(x in selectDataBase){
      x!=null
      
    
      if(parsedX===0){
        var {undefined, name, id}=selectDataBase[x]
        console.log(name)
        var checkDatabase=(selectDataBase[x].name===name)?idExistsInDB="true":console.log("false")
        console.log(idExistsInDB)
      }
    }
    idExistsInDB="true"

   
  }
}

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/output.css">


  
    <script src="../jsFiles/loading.js">
         
      // Read the message from the data attribute.
           

            
            
   
  
       
    </script>
</head>
<body>

  <div class="flex justify-center items-center h-screen w-screen ">
    <ProgressBar/>
  </div>
      


  
  
</body>
</html>