---

import { Client, Account, OAuthProvider } from "appwrite";

const client = new Client()
    .setEndpoint('https://cloud.appwrite.io/v1') // Your API Endpoint
    .setProject('663523fd001d4a3fa9cc');                 // Your project ID

const account = new Account(client);


// Go to OAuth provider login page


if (Astro.request.method === "POST") {
            const redirectURL = account.createOAuth2Token(
            OAuthProvider.Google, // provider
            'http://localhost:4321/success', // success (optional)
            'http://localhost:4321', // failure (optional)
            [] // scopes (optional)
        );

        
            return Astro.redirect(redirectURL)

            

}


---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="146200903155-4j8bbjin2rc9m40s2bap34v7r6cg9u3u.apps.googleusercontent.com">
    <title>Document</title>

    <link rel="stylesheet" href="/src/output.css">

  

    <meta name="referrer" content="no-referrer-when-downgrade">
  <meta name="Cross-Origin-Opener-Policy" content="same-origin-allow-popups">


</head>
<body class="h-full w-full">
  <form method="post">
    <div class="card w-96 bg-base-100 shadow-xl mx-auto m-auto bg-orange-500">
        <figure><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png" alt="Shoes" /></figure>
        <div class="card-body">

          <div class="card-actions ">
            <button type="submit" class="mx-auto">Sign in with Google</button>
          </div>
          
            

  
        </div>



         
    </div>

    </form>
      

      <script>
        


// Replace this with your actual URL


  // Your JavaScript code here
  console.log("Script started");
  const currentURL = 'http://localhost:4321/success';
  const parsedURL = new URL(currentURL);
  const searchParams = new URLSearchParams(window.location.search);


  if (parsedURL.href.includes("http://localhost:4321/success")) {
    const userId=searchParams.get('userId')
    const secret=searchParams.get('secret')

  }

</script>
</body>
</html>