---






// ..


---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="146200903155-4j8bbjin2rc9m40s2bap34v7r6cg9u3u.apps.googleusercontent.com">
    <title>Document</title>

    <link rel="stylesheet" href="/src/output.css">

  

    <meta name="referrer" content="no-referrer-when-downgrade">
<meta name="Cross-Origin-Opener-Policy" content="same-origin-allow-popups">
</head>
<body class="h-full w-full">
    <div class="card w-96 bg-base-100 shadow-xl mx-auto m-auto bg-orange-500">
        <figure><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title mx-auto">Login with google</h2>
           <div class="card-actions ">
          </div>
          
          <button id="google" class="mx-auto">Sign in with Google</button>
        </div>



         
        </div>
      </div>

      <script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>

      <script>
          import { app } from "../firebase/server";
          import {
            getAuth,
          GoogleAuthProvider,
          signInWithPopup,
        } from "firebase/auth";

          const auth = getAuth(app);
          
          const googleSignin = document.querySelector("#google") as HTMLButtonElement;
          googleSignin.addEventListener("click", async () => {
          const provider = new GoogleAuthProvider();
          const userCredential = await signInWithPopup(auth, provider);
          const idToken = await userCredential.user.getIdToken();
          const res = await fetch("/api/auth/signin", {
            headers: {
              Authorization: `Bearer ${idToken}`,
            },
          });

          if (res.redirected) {
            window.location.assign(res.url);
          }
        });
      </script>
</body>
</html>