---


import { db, users, inArray, } from 'astro:db';



if (Astro.request.method === 'POST') {
  // parse form data
  const formData = await Astro.request.formData();
  const emailForm = formData.get('email');
 const passwordForm = formData.get('password');

  
const userData= await db.select().from(users)


const jsonData= JSON.stringify(userData)

const emailSuccess=jsonData.includes(emailForm)
const passwordSuccess=jsonData.includes(passwordForm)

if (emailSuccess && passwordSuccess) {

}

}
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/output.css">


</head>
<body class="min-h-screen grid place-content-center radial-blue">
    <form class="card w-96 bg-base-100 shadow-xl" method="POST">
        
        <div class="card-body">
          <h2 class="card-title mb-5">Sign Up!</h2>

          <label class="input input-bordered flex items-center gap-5 mb-3 " for="email">
            Email
            <input type="email" id="email "name="email" class="grow" placeholder="youremail@domain.com" required/>
          </label>
          <label class="input input-bordered flex items-center gap-6" for="password">
            Password
            <input type="password" id="password" name="password" class="grow" placeholder="Password123" required />
          </label>

          <div class="card-actions    ">
            <button  type="submit" class="btn btn-primary left-1/2 down-[10px] w-[10px] font-extrabold ">Create Account</button>
          </div>

        </div>

        </form>
        <a href="/src/pages/success.astro" class="btn btn-active btn-link ">Login</a>

        <div id="Registered"class="chat chat-end static top-5 right-14 hidden">
          <div class="chat-bubble chat-bubble-error">You are already registered</div>
        </div>
    

</body>


</html>

